## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## VS / Rider
.vs/
.idea/
*.DotSettings.user
launchSettings.json

## macOS
.DS_Store
*.swp
*~

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild[Ll]og.*
